/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333; /* Ensure text color is dark for better contrast */
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Increased max-width */
    width: 100%;
    overflow: auto; /* Ensure container can scroll if content overflows */
}

header {
    position: fixed; /*  Fijar la cabecera a la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Asegúrate de que la cabecera esté por encima del contenido */
    background-color: white; /* Fondo blanco para la cabecera */
    padding: 10px; /* Espacio interno en la cabecera */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave para la cabecera */
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

main {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    overflow-x: auto; /* Allow horizontal scrolling */
    margin-top: 60px; /* Espacio para la cabecera */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50; /* Green color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #45a049; /* Dark green color */
}

#accountInfo {
    text-align: center;
    margin-bottom: 20px;
}

#accountAddress, #accountBalance {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#output {
    margin-top: 20px;
    color: #333;
    text-align: center;
}

#menu button,
#importForm button,
#sendForm button {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.console {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
}

#backBtn {
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #666;
}

/* Styles for mobile devices */
@media screen and (max-width: 600px) {
    .container {
        max-width: 90%;
    }

    button {
        width: 100%;
        padding: 15px;
    }

    input[type="text"],
    input[type="password"] {
        padding: 15px;
    }
}

/* Styles for block explorer */
#blockExplorer {
    position: relative;
    max-height: 400px; /* Ajusta el tamaño según tus necesidades */
    overflow-y: auto; /* Permite el desplazamiento vertical */
    padding-top: 40px; /* Espacio para el encabezado fijo */
}

#blockExplorer h2 {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
    background-color: white; /* Fondo blanco para que el texto sea legible */
    z-index: 1; /* Asegura que el encabezado esté por encima del contenido */
}

.block {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.accordion {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.4s ease;
    background-color: #eee;
    color: #333; /* Ensure text color is dark for better contrast */
}

.accordion.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 10px;
    display: none;
    overflow: hidden;
    background-color: white;
    overflow-x: auto; /* Allow horizontal scrolling */
}

.transactions {
    margin-top: 10px;
}

.transaction {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    word-wrap: break-word; /* Ensure long words break to the next line */
    overflow-x: auto; /* Allow horizontal scrolling */
}

.tx-details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    word-wrap: break-word; /* Ensure long words break to the next line */
    overflow-x: auto; /* Allow horizontal scrolling */
}

.details-button {
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.details-button:hover {
    background-color: #0056b3;
}